{% extends 'base.html.twig' %}

{% block body %}
    <h1>Series list</h1>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <a class="btn pull-right btn-block btn-primary" href="{{ path('create_serie') }}">Create new TvSerie </a>
                <a class="btn pull-right btn-block btn-primary" href="{{ path('create_episode') }}">Create new Episode </a>
            </div>
        </div>
        <br />
        <div class="row">
            {% for s in series %}
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" id="{{ s.id }}">
                        {{ s.name }}
                       {% if is_granted('ROLE_USER') %}
                           <a class="btn pull-right plus-btn btn-info" href="{{ path('episode_info', {'series_name': s.name }) }}">Info </a>
                       {% endif %}
                    </div>
                    <div class="panel-body">
                        <h4>Detail :</h4>
                        Author : {{ s.author }} <br />
                        {% if s.description != null %}
                            Description : {{ s.description }} <br />
                        {% endif %}
                        <br />
                        <!--div class="text-center">
                            <button id="{{s.id}}/1" type="button" class="btn btn-primary">Episodes</button>
                        </div>-->
                        <br />
                        <div id="{{s.id}}/2">
                            <p><b>Episodes :</b></p>
                            {% for e in episodes %}
                                {% if e.tvSeries == s.id %}
                                    <p class="center">{{ e.episodeNumber }} - {{ e.name }}<p/>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

    