{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des séries</h1>
    <div class="container">
        <div class="col-md-3 col-sm-12">
        {% for s in series %}
            <div class="panel panel-default">
                <div class="panel-heading" id="{{ s.id }}">
                    {{ s.name }} 
                </div>
                <div class="panel-body">
                    <h4>Détail :</h4>
                    Auteur : {{ s.author }} <br />
                    {% if s.description != null %}
                        Description : {{ s.description }} <br />
                    {% endif %}
                    <br />
                    <!--div class="text-center">
                        <button id="{{s.id}}/1" type="button" class="btn btn-primary">Épisodes</button>
                    </div>-->
                    <br />
                    <div id="{{s.id}}/2">
                        <p><b>Episodes :</b></p>
                        {% for e in episodes %}
                            {% if e.tvSeries == s.id %}
                                <p class="center">{{ e.episodeNumber }} - {{ e.name }}<p/>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

    