{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="sea-creature-container">
        <div class="genus-photo"></div>
        <div class="genus-name">
            <dl class="genus-details-list">
                  <dt>Tv Series : </dt>
                    <dd>{{ series.name }}</dd>
                     <div>
                        <dt>Episodes : </dt>
                        {% for e in episodes %}
                            <div class="col-md-12">
                                {{ e.episodeNumber}} - {{ e.name }}
                                <a class="btn pull-right btn-primary btn-sm" href="{{ path ('add_episode', {'episode_name': e.name }) }}">I want to watch it!</a>
                            </div>
                        {% endfor %}
                     </div>
            </dl>
        </div>
    </div>
    <div class="notes-container">
        <a class="btn btn-primary" href="{{ path('homepage') }}">Back to Homepage</a>
    </div>
{% endblock %}
